*{
	margin: 0;
	padding: 0;
}

body{
	background: #f2f0f0;
	color: #666;
	font-size: 12px;
	font-family: Arial;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	border: 0;
}

.ml40-f {
	margin-left: 40px;
}

.red-f{color:#ff6699;}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.center{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/************header 开始****************/

#header{
	height: 45px;
	padding: 4px 0 3px;
	/*background: red;*/
}

.logo{
	width: 106px;
	height: 36px;
	background: url("../img/logo_n4.png") no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -58px;
	margin-top: 3px;
}

.follow{
	color: #999999;
	line-height: 20px;
	margin-top: 12px;
	/*padding: 2px 0 0 5px;*/
	width: 150px;
	float: left;
}

.follow span{
	float: left;
	margin-right: 2px;
}

.weibo, .qzone, .qq, .renren, .tx, .wangyi, .douban{
	/*display: inline-block;*/
	width: 19px;
	height: 16px;
	background: url("../img/mls_global130614.png") no-repeat;
	/*margin-top: 2px;*/
}

.weibo{
	background-position: 0 -21px;
}

.qzone{
	background-position: -73px -21px;
}

.qq{
	background-position: -185px -21px;
}

.renren{
	background-position: 0 -45px;
	width: 33px;
}

.tx{
	background-position: -49px -21px;
}

.wangyi{
	background-position: -121px -21px;
}

.douban{
	background-position: -97px -21px;
}

.follow-num{
	width: 50px;
	height: 16px;
	line-height: 16px;
	background: url("../img/mls_global130614.png") no-repeat -172px -144px;
	text-indent: 5px;
	color: #ff6699;
}

.login-menu{
	border: 1px solid #ccc;
	height: 28px;
	line-height: 28px;
	float: right;
	margin-top: 8px;
}

.login-menu li{
	float: left;
	border-right: 1px solid #ccc;
}

.login-menu a{
	display: block;
	padding: 0 8px;
	color: #666;
}

.login-menu span{
	float: left;
	margin-top: 4px;
}

.login-menu .c-pink{
	color: #ff6699;
}
/************header 结束****************/
/************nav 开始****************/
#nav{
	position: relative;
	top: 0px;
	left: 0px;
	height: 30px;
	width: 100%;
	background: #ff74a1 url("../img/mls_global130614.png") repeat-x 0 -402px;
}

#nav.fixed{
	position: fixed;
	z-index: 100;
}

#nav ul{
	float: left;
}


#nav li{
	float: left;
	height: 30px;
	line-height: 30px;
}

#nav li a{
	display: block;
	height: 30px;
	padding: 0 6px;
	border: none;
	color: #ffffff;
}

#nav li a:hover{
	background: url("../img/mls_global130614.png") 0px -440px;
}

#nav li a.active{
	background: #f83a7c url("../img/mls_global130614.png") no-repeat 0px -478px;
}

.search{
	float: right;
	height: 30px;
	line-height: 30px;
	
}

.search-ipt{
	outline: none;
	background: #f3e4e8;;
	border: none;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin-top: 5px;
	color: #999999;
	width: 112px;
	float: left;
	/*padding-right:30px;*/
}

.search-btn{
	background: #f3e4e8 url("../img/mls_global130614.png") no-repeat 8px -64px;
	border: none;
	cursor: pointer;
	height: 20px;
	margin-top: 5px;
	width: 26px;
	float: left;
	/*position:absolute;
	right:240px;*/
}
/************nav 结束****************/
/************footer 开始****************/
#footer{
	height: 236px;
	margin-top: 14px;
	padding: 13px;
	background-color: #EEEEEE;
	border-top: 1px solid #E6E4E4;
}

#footer .col{
	float: left;
	line-height: 20px;
	padding: 10px 25px 10px 30px;
}

#footer .col h4{
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
}

#footer .col a{
	color: #999999;
}

#footer .col .col-2{
	width: 180px;
}

#footer .col .col-2 li{
	float: left;
	width: 90px;
}

#footer .col .col-2 span{
	display: inline-block;
}

#footer .weixin{
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 0px;
	text-align: center;
}

.copyright{
	color: #999999;
	text-align: center;
	border-top: 1px dashed #cccccc;
	line-height: 22px;
	padding-top: 10px;
	clear: both;
}

.copyright a{
	color: #999999;
}

/************footer 结束****************/
