@import "login.css";
.header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 948px;
}
.reg-logo{
	width: 106px;
	height: 36px;
	background: url("../img/logo_n4.png") no-repeat;
	cursor: pointer;
	overflow: hidden;
	display: block;
}
.register {
	width: 724px;
	padding: 20px 112px 60px 112px;
	background: #ffffff;
	border: 1px solid #E6E4E4;
	margin:0 auto;
	margin-bottom: 30px;
}
.register h2 {
	font-size: 24px;
	line-height: 54px;
}
.register-mls{
	float:left;
	position: relative;
	border-right: 1px dashed #cccccc;
	padding-right: 20px;
	width: 400px;
}
.register-mls p{
	margin-bottom:14px;
}
.register-mls p .r-ipt{
	width:240px;
	outline: none;
	border: 2px solid #ddd;
	color: #666;
	padding: 2px 5px;
	border-radius: 8px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
}
#register-form   p label {
	margin-left: 4px;
	line-height: 42px;
	display: inline-block;
}
.register-btn {
	display: inline-block;
	background: #ff6699;
	width: 140px;
	height: 40px;
	margin-bottom: 14px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding-left: 6px;
	border:none;
	border-radius:3px;
}

.agree{
	color:#666;
}
a.agree:hover{
	color:#ff6699;
}
.login-other{
	border-left:0;
}
